<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<table><tbody>
    <tr><th>Имя</th><th>Сообщение</th></tr>
    {% for message in messages %}
    <tr><td>{{ message.name }}</td><td>{{ message.text }}</td></tr>
    {% endfor %}
</tbody></table>


<form action="/post" method="post">
<table><tbody>
    <tr>
        <td>Имя</td><td><input type="text" name="name"></td>
    </tr>
    <tr>
        <td>Сообщение</td><td><textarea name="text"></textarea></td>
    </tr>
    <tr><td colspan="2"><input type="submit"></td></tr>
</tbody></table>
</form>


</body>
</html>
