<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Гостевая книга</title>
</head>
<body>
<table>
    <tbody>
        <tr>
            <th>Имя</th>
            <th>Сообщение</th>
        </tr>
        {% for message in messages %}
            <tr>
                <td>{{ message.name }}</td>
                <td>{{ message.text }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<form name="new-message" method="post" action="/">
    {% csrf_token %}
    <table><tbody>
        {{ form.as_table }}
        <tr><td colspan="2"><input type="submit"></td></tr>
    </tbody></table>
</form>
</body>
</html>
